## Data Types in Python

In [ ]:
- Python - it is a OOP lge like PhP and Java
- it is procedure oriented
- Easy to learn as well as high level lge
- Can run in several platforms: Mac, linux and windows
    - In python, you can write fewer lines of codes compared to other OOP like java

Numeric types - int, float, complex numbers
Text type data - strings

Sequence types: lists, tuples and range
    
Mapping data types: dict
    
Set data type: set type
    
Boolean Type: bool

Binary Data Types: bytes, bytearray, and memory view

In [2]:
# numeric data types
num = 7
print (num)

7

In [3]:
type(num) # this will show you the type of the data we have just declared

int

In [4]:
print (num, "is of type", type(num))

7 is of type <class 'int'>

In [5]:
num1 = 10.89
type(num1) # this will tell you that num1 is holding a variable of type float

float

In [6]:
#complex data type
num2 = 8+6j
type(num2)

complex

A complex number has two parts, real part and imaginary part. 

- Complex numbers are represented as A+Bi or A+Bj , where A is real part and B is imaginary part. 

- Python supports complex data type as built-in feature which means we can directly perform different operations 

on complex number in python.

In [8]:
print(num2)

(8+6j)

In [10]:
num2.real#this one extracts the part of the complex number that is real

8.0

In [11]:
num2.imag# This gives us part of the imaginary number in the complext number above

6.0

## Data type convertion in Python

In [12]:
num3 = 7.8
b = int(num3)
print (b) # returns 7 which is of type integer - it has trancated the decimal part of the float data type
print (type(num3)) # this is float as it is 7.8
print (type(b)) # after converstion it becomes an int data type

7
<class 'float'>
<class 'int'>

In [13]:
num4 = -90.6
print(type(num4))
print(int(num4)) # It trancates when you convert

<class 'float'>
-90

In [14]:
c = float (num3)
print (type(num3))

<class 'float'>

In [15]:
print (num3)

7.8

## 2. Boolean Data types

In [16]:
d = True
type(d) # This will return that boolean data type

bool

In [17]:
e = -56.7
f = 25
e>f # This will tell you that e is not greater than f

False

In [18]:
g = e<f
print (type(g)) # This will print g as a boolean data type
print (g)

<class 'bool'>
True

## 3. String data type

In [20]:
h = ("python programing")
i = ("easy to learn")
print (type(h)) # this will return that it is of a string data type 
print (h[2])# accessing a value stored in the data type

<class 'str'>
t

In [23]:
print (i[-5])# helps to check the value at a given index. negative index will start counting from backwards

l

In [24]:
# slicing of strings
h[0:7]# remeber this will exclude the 7th index

'python '

In [25]:
print (h.find("m"))# this will return 'm' as being in index 13 inside a string variable called h

13

- Kindly explore other functionalities that can be implemented in the above data types that we have just introduced

### Lets explore more on sequence data types

- Sequences allow you to store multiple values in an organized and efficient fashion. 

- There are several sequence types: strings, Unicode strings, lists, tuples, bytearrays, and range objects. 
    
- Dictionaries and sets are containers for non-sequential data.

1. List Data Type

In [28]:
# list data type
# Declare a list
k = ["apple", "orange", 23, "mellon"]
print (type(k))
print (k)

#Important points to note:
# - List accepts more than one data type
# - It uses square brackets
# - Anyhing in quotes even if it is an integer is seen as a string

<class 'list'>
['apple', 'orange', 23, 'mellon']

In [34]:
l = ("This,is,orange")
l1 = l.split(",")
print(l1)
print (type(l1))# showing that this variable is of list data type

['This', 'is', 'orange']
<class 'list'>

In [35]:
print (type(l))# this shows that l was a string but after splitting, it becomes a list

<class 'str'>

In [36]:
l2 = ["a", "1", "india"]
print (l2)# this will give us what is in l2  (list declared as l2)

['a', '1', 'india']

In [37]:
type(l2)# we are checking the data type of l2

list

- Performing certain operations on lists

In [39]:
# adding a few elements on the lists. Is it concartenation?
l3 = ["b", "2"]
l2 += l3# this adds the componnets of l3 to l2
print (l2)

['a', '1', 'india', 'b', '2', 'b', '2']

2. Tuple data type

In [40]:
tup1 = ('a','b','c','d')
print (type(tup1))
tup2 = ('e', 'f')
tup3 = tup1+tup2# results of a merged tuple showing the two tuples already declared (tup1 and tup2 forming tup3)
print (tup3)
print (type(tup3))

<class 'tuple'>
('a', 'b', 'c', 'd', 'e', 'f')
<class 'tuple'>

In [41]:
# Basic operations in tuples
# Multiplying tuples

In [42]:
tup3*2

('a', 'b', 'c', 'd', 'e', 'f', 'a', 'b', 'c', 'd', 'e', 'f')

3. Dictionary Data Type

In [43]:
# dictinaries are created using calibraces - it poseses key and what to pass 
dict1 = {1:'Lions', 2:'Tiger', 3:'Dog'}
print (dict1)

{1: 'Lions', 2: 'Tiger', 3: 'Dog'}

- Dictionaries are used to store data values in key:value pairs.

- A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

- As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

- When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.

- Unordered means that the items does not have a defined order, you cannot refer to an item by using an index.

In [46]:
#lets create another dictionary

thisdict = {
    "Brand": "Fords",
    "Model": "Mustang",
    "Year": "1964"
}
print (thisdict)

{'Brand': 'Fords', 'Model': 'Mustang', 'Year': '1964'}

In [48]:
# Duplicates Not Allowed in Dictionaries
thisdict1 = {
    "Brand": "Fords",
    "Model": "Mustang",
    "Year": "1964",
    "Year": "1990"
}
print (thisdict1)

{'Brand': 'Fords', 'Model': 'Mustang', 'Year': '1990'}

In [49]:
#Dictionary Length
#To determine how many items a dictionary has, use the len() function:
print (len(thisdict1))# this reveals that thisdict is of lenght 3 components

3

In [50]:
#The values in dictionary items can be of any data type:
#Example
thisdict2 = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print (type(thisdict2))
print (thisdict2)

<class 'dict'>
{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

4. Set data type - Sets are used to store multiple items in a single variable

- Set is an unordered collection of data type that is iterable, mutable and has no duplicate elements.

- Sets are used to store multiple items in a single variable. 

- Set is one of 4 built-in data types in Python used to store collections of data

- The other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

- A set is a collection which is unordered, unchangeable, and unindexed.

- Sets are written with curly brackets.

In [51]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [52]:
print(thisset) # notice how this has changed the order from 1 being apple to being banana

{'banana', 'cherry', 'apple'}

- X-tics of set items are: unordered, unchangeable, and do not allow duplicate values.

a) *Unordered*: Unordered means that the items in a set do not have a defined order.

- Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

b) *Unchangeable*: Sets are unchangeable, meaning that we cannot change the items after the set has been created.

- Once a set is created, you cannot change its items, but you can add new items.

c) *Duplicates Not Allowed*: Sets cannot have two items with the same value.

In [53]:
# Duplicates will be ignored
thisset4 = {"apple", "banana", "cherry", "apple"}

print(thisset4) # you will notice that apple which appeared twice will be printed only once. I drops duplicated numbers

{'banana', 'cherry', 'apple'}

In [54]:
# To get the Length of a Set
thisset5 = {"apple", "banana", "cherry"}

print(len(thisset5))

3

- **Key** Set Items can be of any data type:

In [55]:
# Example - String, int and boolean data types:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print (set1)
print (set2)
print (set3)

{'banana', 'cherry', 'apple'}
{1, 3, 5, 7, 9}
{False, True}

In [56]:
# A single set can contain different data types
set6 = {"abc", 34, True, 40, "male"}
print (type(set6))
print (set6)

<class 'set'>
{True, 34, 'male', 40, 'abc'}

In [58]:
#It is also possible to use the set() constructor to make a set.
# Example

thisset7 = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset7)
print (type(thisset7))

{'banana', 'cherry', 'apple'}
<class 'set'>

In [61]:
set8 = {1,2,3,4,5}
set9 = {'a','b', 3, 4}
print (set8 | set9)# to print set 8 or 9 - This will combine the two sets and drop

{1, 2, 3, 4, 5, 'a', 'b'}

In [62]:
print (set8 & set9) # This will print wjhatever is present in both set8 and set9

{3, 4}

In [63]:
set8-set9# gives us values present in set 8 and not set9

{1, 2, 5}

In [64]:
set9-set8 # gives us values that are present in set9 and not set8

{'a', 'b'}

**4. Range data type**

- Range in python is another in-built python datatype which is mainly used with loops in python. 

- It returns a sequence of numbers specified in the function arguments.

In [65]:
# Create a sequence of numbers from 0 to 5, and print each item in the sequence:
x = range(6)# prints the range of the six values within the range
for n in x:
  print(n)

0
1
2
3
4
5

- The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default),

- and stops before a specified number.

- Syntax

- range(start, stop, step)

- Parameter and Description: 
- **start** : Optional. An integer number specifying at which position to start. Default is 0
- **stop** : Required. An integer number specifying at which position to stop (not included).
- **step** : Optional. An integer number specifying the incrementation. Default is 1

In [66]:
# Create a sequence of numbers from 3 to 5, and print each item in the sequence:
x = range(3, 6)
for n in x:
  print(n)

3
4
5

In [67]:
# incrementing
#Example - Create a sequence of numbers from 3 to 19, but increment by 2 instead of 1:
x = range(3, 20, 2)
for n in x:
  print(n)

3
5
7
9
11
13
15
17
19

In [68]:
print (type(x))# this will return range

<class 'range'>

5. Binary data types

- They are not widely used in python

In [69]:
y = b"Hello world"
print (type(y))# it will output bytes
print (y)

<class 'bytes'>
b'Hello world'

In [72]:
# To access a particular index in a binary
print (y[3])
print (y[2])
print (y[6])# This will return the ASCII values of the the letters in the said byte

108
108
119

In [73]:
# Conversation - converting a string to a list
s = ("Messi is from Arg")
print (type(s))
l = list(s)
print (l)
print (type(l))

<class 'str'>
['M', 'e', 's', 's', 'i', ' ', 'i', 's', ' ', 'f', 'r', 'o', 'm', ' ', 'A', 'r', 'g']
<class 'list'>